@font-face {
  font-family: 'iconfont';  /* Project id 2813290 */
  src: url('//at.alicdn.com/t/font_2813290_9t7148tbakj.woff2?t=1636985698111') format('woff2'),
       url('//at.alicdn.com/t/font_2813290_9t7148tbakj.woff?t=1636985698111') format('woff'),
       url('//at.alicdn.com/t/font_2813290_9t7148tbakj.ttf?t=1636985698111') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}