@font-face {
  font-family: 'iconfont';  /* Project id 2813290 */
  src: url('//at.alicdn.com/t/font_2813290_kaci09dhl9r.woff2?t=1634480660505') format('woff2'),
       url('//at.alicdn.com/t/font_2813290_kaci09dhl9r.woff?t=1634480660505') format('woff'),
       url('//at.alicdn.com/t/font_2813290_kaci09dhl9r.ttf?t=1634480660505') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}